div
  div(plug="config")
      .input-group
        input.form-control(ld="input",aria-label="text")
        .input-group-append(ld="menu")
          .btn.btn-outline-secondary.border.dropdown-toggle.px-2(
          ld="dropdown",data-toggle="dropdown",style="z-index:1")
          .dropdown-menu.dropdown-menu-right.shadow-sm.z-float
            .dropdown-item(ld-each="preset")
  style(type="text/css"): :stylus
    .form-control { font-size: 1em }
  script(type="@plotdb/block"): include:lsc index.ls
