div
  div(plug="config")
    include @/@xlfont/choose/index.pug
    .ldcv.default-size(ld="ldcv"): .base: .inner: +xfc
    .btn-group.d-flex
      .btn.btn-outline-secondary.d-block(ld="button"): span(ld="font-name") ...
      //- we used to have `z-float` in btn-group but it make popups go under this btn-group
      //- yet via some tests this `z-float` seems to have no effect over its own popup
      //- so we remove it for now
      .btn-group
        .btn.btn.btn-outline-secondary.dropdown-toggle(ld="dropdown",data-toggle="dropdown")
          .dropdown-menu.dropdown-menu-right.shadow-sm
            .dropdown-item(t, ld="system",data-name="inherit") default
  style(type="text/css"): :stylus
    [ld=button]
      position: relative
    .btn
      font-size: 1em

    .choosefont .item .img
      background-image: url(/assets/lib/choosefont.js/main/fontinfo/sprite.min.png)


  script(type="@plotdb/block"): include:lsc index.ls

