div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  plug(name="base")
    .d-flex.align-items-center
      .flex-grow-1.d-flex.align-items-center
        div(ld="name")
        div(ld="hint") ?
      plug(name="ctrl")
    plug(name="config")
