//- module
+scope().ctrl
  .d-flex
    .flex-grow-1(ld="name") boolean
    div(ld="function")
      i.i-pen.ml-2(ld="raw-edit")
      i.i-question-circle.ml-2(ld="info")
  .d-flex(ld="widget")
    .btn-group.flex-grow-1
      .btn.btn-outline-secondary(ld="btn",data-value="true") Yes
      .btn.btn-outline-secondary(ld="btn",data-value="false") No
  script(type="@plotdb/block"): :lsc
    {
      init: ({root}) ->
        @data = state: false
        @view = new ldView do
          root: root
          action: click: do
            btn: ~> @data.state = !@data.state; @view.render!
          text:
            name: -> "sample name"
          handler:
            btn: ({node}) ~>
              node.classList.toggle \active, !(@data.state xor (node.getAttribute(\data-value) == \true))
    }
