//- module
+scope().ctrl
  .d-flex
    .flex-grow-1(ld="name") font
  .btn.btn-outline-secondary.btn-block(ld="toggle") Font
  .ldcv.default-size: .base: .inner
    +choosefont
  script(type="@plotdb/block"): :lsc
    {
      init: ({root}) ->
        @font = {}
        @cf = new ChooseFont do
          root: root.querySelector('.ldcv .inner')
          meta-url: '/assets/lib/choosefont.js/main/fontinfo/meta.json'
          base: 'https://plotdb.github.io/xl-fontset/alpha'
        @cf.init!
        @cf.on \choose, ~> @ldcv.set it
        @ldcv = new ldCover root: root.querySelector('.ldcv')
        @view = new ldView do
          root: root
          action: click: toggle: ({node}) ~> @ldcv.get!then ~>
            if !it => return
            @font = it
            @view.render!
          text: toggle: ({node}) ~>
            return @font.name or 'Font'
    }
