//- module
+scope().ctrl
  .d-flex
    .flex-grow-1(ld="name") number
    div(ld="function")
      i.i-pen.ml-2(ld="raw-edit")
      i.i-question-circle.ml-2(ld="info")
  .ldrs(ld="widget")
  script(type="@plotdb/block"): :lsc
    {
      init: ({root}) ->
        @ldrs = new ldSlider root: root.querySelector(\.ldrs)
    }

