div
  include @/ldpalettepicker/ldpp.pug
  style(type="text/css"): :stylus
    .ctrl { opacity: 0; transition: opacity .15s ease-in-out; cursor: pointer}
    .ctrl:hover {opacity: 1}

  div(ld-scope,plug="config")
    .ldp
      .colors: .color(ld-each="color")
      .ctrl(style="display:flex;gap:1em")
        div(ld="ldp",data-action="view"): i.i-eye
        div(ld="ldp",data-action="edit"): i.i-pen

    .ldcv.default-size(ld="ldcv"): .base(style="height:35em"): .inner: +ldpp
  script(type="@plotdb/block"): include:lsc index.ls
