div
  div(plug="config")
    div(ld="color")
  style(type="text/css"): :stylus
    [ld=color]
      width: 100%
      height: 2em
      border-radius: .25em
      border: 1px solid #ccc
      cursor: pointer

  script(type="@plotdb/block"): include:lsc index.ls

