extends /base.pug
block head
block body
  .w-1024.rwd.mx-auto.my-4
    .aspect-ratio.ratio-2by1.mb-4: svg.w-100.h-100.rounded-sm.shadow-sm.border
    .w-100.rounded-sm.shadow-sm.p-4.border
      div(ld="tmeplate"): div(ld-scope)
        div(ld-each="tab")
          div(ld="name")
          div(ld-each="config")
          div(ld-each="child")
      div(ld="ctrl")


block script
  +script("/assets/lib/@xlfont/load/main/xfl.js")
  script: include:lsc index.ls
