//- module
doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  head
    block prehead
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "ldcover"},
      {name: "ldiconfont"}
    ])
    block head

  body
    block body
    +script([
      {name: "bootstrap.native", path: "dist/bootstrap-native-v4.min.js"},
      {name: "ldcolor"},
      {name: "ldcover"},
      {name: "@loadingio/ldquery"},
      {name: "@loadingio/debounce.js"},
      {name: "@loadingio/vscroll"},
      {name: "proxise"},
      {name: "ldview"},
      {name: "@plotdb/semver"},
      {name: "@plotdb/rescope"},
      {name: "@plotdb/csscope"},
      {name: "@plotdb/datadom"},
      {name: "ldpalettepicker"},
      {name: "@plotdb/block"},
      {name: "@plotdb/konfig", version: "dev"},
      {name: "@plotdb/konfig", version: "dev", path: "konfig.widget.bootstrap.js"}
    ])
    block script

