//- module
doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  head
    block prehead
    +css("/assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("/assets/lib/ldcover/main/index.min.css")
    +css("/assets/lib/ldiconfont/main/ldif.min.css")
    block head

  body
    block body
    +script("/assets/lib/bootstrap.native/main/dist/bootstrap-native-v4.min.js")
    +script("/assets/lib/ldcolor/main/index.min.js")
    +script("/assets/lib/ldcover/main/index.min.js")
    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("/assets/lib/@loadingio/debounce.js/main/index.min.js")
    +script("/assets/lib/@loadingio/vscroll/main/index.min.js")
    +script("/assets/lib/proxise/main/index.min.js")
    +script("/assets/lib/ldview/main/index.min.js")
    +script("/assets/lib/@plotdb/semver/main/index.min.js")
    +script("/assets/lib/@plotdb/rescope/main/index.min.js")
    +script("/assets/lib/@plotdb/csscope/main/index.min.js")
    +script("/assets/lib/@plotdb/datadom/main/index.js")
    +script("/assets/lib/ldpalettepicker/main/index.min.js")
    +script("/assets/lib/@plotdb/block/main/index.min.js")
    +script("/assets/lib/@plotdb/konfig/dev/index.min.js")
    +script("/assets/lib/@plotdb/konfig/dev/konfig.widget.bootstrap.js")
    block script

