extends /base.pug
block head
  +css("/css/index.css")
  style(type="text/css"): :stylus
    html, body { width: 100%; height: 100%; padding: 0;margin: 0}
    .config
      margin: 0 0 1em
      flex: 1 1 200px
      height: 3em
    [ld=kfg-alt]
      .ldrs .hint { padding-top: 5px!important }
    [ld=kfg]
      .ldrs .hint { padding-top: 4px!important }
block body      
  .w-100.h-100.p-4: .d-flex.flex-column.h-100(style="gap:1em")
    .border.rounded.shadow-sm.p-4(ld="kfg-alt")
      div(ld-each="tab"): div(ld-each="ctrl")
    .d-flex.flex-grow-1(style="gap:1em;overflow:hidden")
      .d-flex.flex-wrap.h-100(ld="kfg",style="gap:1em")
        .tab.p-2.border.rounded.shadow-sm.h-100(ld-each="tab",style="min-width:15em;overflow-y:scroll")
          .text-center.font-weight-bold.p-1.mb-4.bg-secondary.text-light.rounded(ld="name")
          .config.mb-4(ld-each="ctrl")
      .flex-grow-1
        #sample.rounded.shadow-sm.border.p-4.w-100.h-100
  .ldcv.default-size: .base: .inner
    h5 Dummy choices in a dummy popup
    .d-flex.justify-content-around
      .btn.btn-outline-secondary(data-ldcv-set="yes") Yes
      .btn.btn-outline-secondary(data-ldcv-set="no") No
block script
  script: include:lsc index.ls
