doctype html
html
  include @/bootstrap.ldui/dist/index.pug
  include @/ldview/dist/index.pug
  head
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("/assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("/assets/lib/ldiconfont/main/ldif.min.css")
    +css("/css/index.css")
    style(type="text/css"): :stylus
      .config
        margin: 0 0 1em
        flex: 1 1 200px
        height: 3em
        

  body
    //-.w-1024.rwd.mx-auto.my-4.d-flex.align-items-center.flex-wrap
      .config(ld-each="config")
    .w-1024.rwd.mx-auto.my-4.d-flex.flex-wrap
      .tab.mx-2.p-2.border.rounded.shadow-sm(ld-each="tab")
        .text-center.font-weight-bold.p-1.mb-4.bg-secondary.text-light.rounded(ld="name")
        .config(ld-each="config")
    .w-1024.rwd.mx-auto.p-3
      #sample.rounded.shadow-sm.border.p-4.my-4
    +script("/assets/lib/ldcolor/main/ldcolor.min.js")
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/@loadingio/debounce.js/main/debounce.min.js")
    +script("/assets/lib/proxise/main/proxise.min.js")
    +script("/assets/lib/ldview/main/index.min.js")
    +script("/assets/lib/@plotdb/rescope/main/rescope.js")
    +script("/assets/lib/@plotdb/csscope/main/csscope.js")
    +script("/assets/lib/@plotdb/datadom/main/datadom.js")
    +script("/assets/lib/@plotdb/block/dev/block.js")
    +script("/assets/lib/@plotdb/config/dev/config.js")
    +script("/assets/lib/@plotdb/config/dev/config.widget.bootstrap.js")
    script: include:lsc index.ls
