doctype html
html
  include /../../static/assets/lib/bootstrap.ldui/main/index.pug
  include /../../static/assets/lib/ldview/main/ldview.pug
  include /../../static/assets/lib/ldpalettepicker/main/ldpp.pug
  head
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("/assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("/assets/lib/ldiconfont/main/ldif.min.css")
    +css("/assets/lib/ldpalettepicker/main/ldpp.min.css")
    +css("/assets/lib/@loadingio/ldcolorpicker/main/ldcp.min.css")
    +css("/assets/lib/ldslider/main/ldrs.min.css")
    +css("/assets/lib/ldcover/main/ldcv.min.css")
    +css("/css/index.css")
    style(type="text/css"): :stylus
      @font-face {
        font-family: 'ldi';
        font-weight: normal;
        font-style: normal;
        src: url('/assets/lib/ldiconfont/main/ldif.ttf') format('truetype');
      }
      .ctrl
        margin: 0 0 .5em 0
        [ld=name]
          margin: 0


  body
    .ldcv.default-size: .base: .inner: +ldPalettePicker

    #ctrl-color.d-none: include ctrl/color.pug
    #ctrl-palette.d-none: include ctrl/palette.pug
    #ctrl-choice.d-none: include ctrl/choice.pug
    #ctrl-boolean.d-none: include ctrl/boolean.pug
    #ctrl-text.d-none: include ctrl/text.pug
    #ctrl-number.d-none: include ctrl/number.pug
    #ctrl-paragraph.d-none
      +scope().ctrl
        .d-flex
          .flex-grow-1(ld="name") paragraph
        input.form-control(ld="input")
        .ldcv.inline: .base(ld="panel"): .inner
          .p-2: textarea.form-control(ld="textarea",rows="3")
          .px-2.pb-2.text-right
            .btn.btn-sm.btn-outline-secondary(data-ldcv-set="") Cancel
            .btn.btn-sm.btn-primary.ml-2(data-ldcv-set="ok") OK
        style(type="@plotdb/block"): :stylus
          .ldcv.inline
            position: absolute
            &:before { background: rgba(0,0,0,.1) }
            &:after { display: none }
            .base { position: absolute }
        script(type="@plotdb/block"): :lsc
          {
            init: ({root}) ->
              @data = ''
              @ldcv = new ldCover root: root.querySelector('.ldcv')
              @view = new ldView do
                root: root
                action: click: do
                  input: ~>
                    ibox = @view.get('input').getBoundingClientRect!
                    pbox = @view.get('panel').getBoundingClientRect!
                    @view.get('panel').style <<< do
                      width: "#{ibox.width}px"
                      left: "#{ibox.left}px"
                      top: "#{ibox.top}px"
                    @ldcv.get!then ~>
                      if it == \ok => @data = @view.get('textarea').value
                      @view.render!
                handler:
                  textarea: ({node}) ~> node.value = @data
                  input: ({node}) ~> node.value = @data
                  
          }

    #container.w-480.rwd.mx-auto.my-4

    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/@loadingio/debounce.js/main/debounce.min.js")
    +script("/assets/lib/ldcover/main/ldcv.min.js")
    +script("/assets/lib/ldcolor/main/ldColor.min.js")
    +script("/assets/lib/@loadingio/ldcolorpicker/main/ldcp.min.js")
    +script("/assets/lib/proxise/main/proxise.min.js")
    +script("/assets/lib/ldview/main/ldview.min.js")
    +script("/assets/lib/ldpalettepicker/main/ldpp.min.js")
    +script("/assets/lib/ldpalettepicker/main/all.palettes.js")
    +script("/assets/lib/@plotdb/datadom/main/datadom.js")
    +script("/assets/lib/@plotdb/rescope/main/rescope.js")
    +script("/assets/lib/@plotdb/csscope/main/csscope.js")
    +script("/assets/lib/@plotdb/block/main/block.js")
    +script("/assets/lib/ldslider/main/ldrs.min.js")
    +script("/js/index.js")
    +script("/js/block.js")
