doctype html
html
  include @/bootstrap.ldui/dist/index.pug
  include @/ldview/dist/ldview.pug
  head
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("/assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("/assets/lib/ldiconfont/main/ldif.min.css")
    +css("/css/index.css")

  body
    .w-1024.rwd.mx-auto.my-4
      div(style="font-size:11px;background:#950;color:#fff;line-height:1em;display:flex;align-items:center;height:1.4em;padding:0 .2em;border-radius:.25em;width:fit-content")
        div 255

      div(ld-each="config")
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/@loadingio/debounce.js/main/debounce.min.js")
    +script("/assets/lib/proxise/main/proxise.min.js")
    +script("/assets/lib/ldview/main/ldview.min.js")
    +script("/assets/lib/@plotdb/rescope/main/rescope.js")
    +script("/assets/lib/@plotdb/csscope/main/csscope.js")
    +script("/assets/lib/@plotdb/datadom/main/datadom.js")
    +script("/assets/lib/@plotdb/block/main/block.js")
    script: include:lsc index.ls
