doctype html
html
  include @/@loadingio/bootstrap.ext/dist/index.pug
  include @/ldview/dist/index.pug
  head
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    //-
      +css("/assets/lib/ldcover/main/index.min.css")
      +css("/assets/lib/ldiconfont/main/ldif.min.css")

  body
    .d-flex.flex-grow-1(style="gap:1em;overflow:hidden")
      .d-flex.flex-wrap.h-100(ld="kfg",style="gap:1em")
        .tab.p-2.border.rounded.shadow-sm.h-100(ld-each="tab",style="min-width:15em;overflow-y:scroll")
          .text-center.font-weight-bold.p-1.mb-4.bg-secondary.text-light.rounded(ld="name")
          .config.mb-4(ld-each="ctrl")
    +script("/assets/lib/bootstrap.native/main/bootstrap-native-v4.min.js")
    //-
      +script("/assets/lib/ldcolor/main/ldcolor.min.js")
      +script("/assets/lib/ldcover/main/index.min.js")
      +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
      +script("/assets/lib/@loadingio/vscroll/main/index.min.js")
      +script("/assets/lib/@loadingio/debounce.js/main/debounce.min.js")
      +script("/assets/lib/proxise/main/proxise.min.js")
      +script("/assets/lib/ldview/main/index.min.js")
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/@loadingio/debounce.js/main/debounce.min.js")
    +script("/assets/lib/proxise/main/proxise.min.js")
    +script("/assets/lib/@plotdb/rescope/main/index.min.js")
    +script("/assets/lib/@plotdb/csscope/main/index.min.js")
    +script("/assets/lib/@plotdb/block/main/index.min.js")
    +script("/assets/lib/@plotdb/konfig/dev/index.min.js")
    +script("/assets/lib/ldview/main/index.min.js")
    script: include:lsc index.ls

