div
  div boolean
  div(ld="switch")
    div
  style(type="text/css"): :stylus
    [ld=switch]
      width: 100%
      height: 2em
      background: #ccc
      display: flex
      justify-content: start
      border-radius: .25em
      border: 1px solid #ccc
      overflow: hidden
      flex-wrap: nowrap
      transition: all .15s ease-in-out
      box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
      div
        width: 50%
        margin-left: 0%
        background: #fff
        border: 1px solid transparent
        transition: all .15s ease-in-out
    [ld=switch].on
      background: #0f0
      div
        margin-left: 50%


  script(type="@plotdb/block"): include:lsc index.ls

