div
  div(plug="config")
    .color
      input.form-control(ld="color")
      div(ld="color")
  style(type="text/css"): :stylus
    .color
      position: relative
    div[ld=color]
      top: 0
      bottom: 0
      width: .66em
      right: .33em
      margin: auto
      position: absolute
      height: calc(100% - .5em)
      border-radius: .25em

  script(type="@plotdb/block"): include:lsc index.ls

