div
  div(plug="config")
    .btn-group.w-100(ld="switch")
      .btn.btn-outline-secondary.text-success(ld="true"): i.i-check
      .btn.btn-outline-secondary.text-danger(ld="false"): i.i-close
  style(type="text/css"): :stylus
    .btn-group .btn:hover
      background: #fff
    .btn-group:not(.on) .btn[ld=true]
      color: transparent!important
      flex: 0 0 auto
      background: rgba(0,0,0,.3)
    .btn-group.on .btn[ld=false]
      color: transparent!important
      flex: 0 0 auto
      background: rgba(0,0,0,.3)

  script(type="@plotdb/block"): include:lsc index.ls

