div
  div(plug="config")
    input.ldrs(ld="ldrs")
  div(plug="ctrl"): div(ld="switch") switch
  style(type="text/css"): :stylus
    input { width: 100% }
  script(type="@plotdb/block"): include:lsc index.ls

