div
  div(plug="config")
    select.form-control(ld="select")
      option(ld-each="option")
  style(type="text/css") .form-control { font-size: 1em }
  script(type="@plotdb/block"): include:lsc index.ls

