div
  div(plug="config")
    include @/choosefont.js/dist/choosefont.pug
    div(ld="button")
      span(ld="font-name") ...
    .ldcv.default-size(ld="ldcv"): .base: .inner(ld="inner")
      +choosefont

  style(type="text/css"): :stylus
    [ld=button]
      cursor: pointer
      width: 100%
      height: 2em
      border: 1px solid #ccc
      border-radius: .25em
      display: flex
      justify-content: center
      align-items: center
      position: relative

    .choosefont .item .img
      background-image: url(/assets/lib/choosefont.js/main/fontinfo/sprite.min.png)


  script(type="@plotdb/block"): include:lsc index.ls

