div
  div(plug="config")
    input.form-control(ld="input",aria-label="paragraph")
    .btn.btn-outline-secondary.btn-block.text-truncate.dropdown-toggle(ld="input",data-mode="multiline")
    .ldcv.mini(ld="ldcv",style="position:absolute"): .base(ld="panel"): .inner
      .p-2: textarea.form-control(ld="textarea",rows="3",aria-label="paragraph")
      .px-2.pb-2.text-right
        .btn.btn-sm.btn-outline-secondary(data-ldcv-set="") Cancel
        .btn.btn-sm.btn-primary.ml-2(data-ldcv-set="ok") OK
  div(plug="ctrl")
    .d-flex.g-2.align-items-center.clickable(ld="multiline",style="font-size:10px")
      div MULTILINE
      i

  style(type="text/css"): :stylus
    .btn.dropdown-toggle
      display: flex
      justify-content: space-between
      align-items: center
    [ld=multiline] i
      font-family: ldi
      color: var(--danger)
      &:before
        content: "\f065"
        display: inline-block
    [ld=multiline].active i
      color: var(--success)
      &:before
        content: "\f00d"
        display: inline-block

  script(type="@plotdb/block"): include:lsc index.ls

