div
  div(plug="config"): input.ldrs.auto(data-class="form-control",ld="ldrs",aria-label="number")
  div(plug="ctrl"): .clickable(ld="switch"): i.i-pen
  script(type="@plotdb/block"): include:lsc index.ls

